@model IEnumerable<MedicineMonitoring.Models.Medicine>

@{
    ViewBag.Title = "SearchMedicine";
}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="colorlib.com">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<link href="~/StyleSheets/css/main.css" rel="stylesheet" />


@{ if (Model == null)
    {
    <div class="s130">
       
        <form method="post">
            <h2>Search Medicine</h2>
            <div class="inner-form">
                <div class="input-field first-wrap">
                    <div class="svg-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                        </svg>
                    </div>
                    <input id="search" type="text" name="MedicineName" placeholder="What are you looking for?" />
                </div>
                <div class="input-field second-wrap">
                    <button class="btn-search" type="submit">SEARCH</button>
                </div>
            </div>
            <span class="info">ex.Medicine Name ,Medicine Type</span>
        </form>
    </div>
    }
    else
    {

       
<div class="s130">
   
    <form method="post">
        <h2>Search Medicine</h2>
        <div class="inner-form">
            <div class="input-field first-wrap">
                <div class="svg-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                    </svg>
                </div>
                <input id="search" type="text" name="MedicineName" placeholder="What are you looking for?" />
            </div>
            <div class="input-field second-wrap">
                <button class="btn-search" type="submit">SEARCH</button>
            </div>
        </div>
        <span class="info">ex.Medicine Name ,Medicine Type</span>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MedName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Manufacturer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Disease)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.ManufactureDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpiryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cost)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manufacturer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Disease)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ManufactureDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpiryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cost)
                    </td>
                    <td>
                        <div class="input-field second-wrap">
                            <a href='@Url.Action("AddToCart", "Customer",new { id=item.MedId })' class="btn btn-primary">Add To Cart</a>
                        </div>
                    </td>

                </tr>
            }


        </table>


    </form>
</div>
    }

}

<script src="~/StyleSheets/js/extention/choices.js"></script>


